<div class='followee-list' >
  <% @user.followees.each do |followee| %>
    <% unless followee.id == @user.id %>
      <div>
        <a href="/user/<%= followee.id %>/profile/user_skeets">
          <%= followee.username %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
