<div class='follower-list' >
  <% @user.followers.each do |follower| %>
    <% unless follower.id == @user.id %>
      <div>
        <a href="/user/<%= follower.id %>/profile/user_skeets">
          <%= follower.username %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
