<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
<!--   <link rel="stylesheet" href="/css/normalize.css">

    application.css is where you put your styles

  <link rel="stylesheet" href="/css/application.css"> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if current_user %>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, <%= current_user.username + "!"%> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/user/<%= current_user.id %>">Feed</a></li>
                <li><a href="/user/<%= current_user.id %>/profile/user_skeets">Profile</a></li>
              </ul>
            </li>
          </ul>

          <form class="navbar-form navbar-right" action='/logout' method='POST'>
             <div class="form-group">
               <input class="btn btn-primary" type='submit' name='Sign Up' value='Logout'>
             </div>
           </form>
          <% end %>
        </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
  </script>
</body>
</html>
