<div class='container' >
  <h1>Skitter </h1>
  <%= current_user.username %>
  <form name='Skeet' action="/user/<%= current_user.id %>/new" method='POST'>
    <label>Create Skeet</label>
    <textarea name='skeet' placeholder='type your skeet here...' required></textarea>
    <input type='submit' name='submit'>
  </form>
  <div>
    <%= erb :user_skeets %>
  </div>
</div>
