<h1><%= @user.username %>'s Skeets</h1>
<% @user.skeets.each do |skeet| %>
  <div>
    <p><span class="lead"><strong><%= @user.username %></strong></span> <%= @user.created_at.strftime("on %b %e") %></p>
    <p class="lead"><%= skeet.skeet %></p>
    <hr>
  </div>
<% end %>
