<div class='skeet-list' >
  <h1>Your Skeets</h1>
  <% current_user.skeets.each do |skeet| %>
    <div>
      <%= current_user.username %>
      <%= current_user.created_at %>
      <%= skeet.skeet %>
    </div>
  <% end %>
</div>
